{% comment %}
  {% ------------------------------------------------ %} 
  {% -------------- FREDERICO ALVES ----------------- %} 
  {% ------------------------------------------------ %} 
  {% ------------------ MERCIVE --------------------- %} 
  {% ------------ https://mercive.com/ -------------- %}
{% endcomment %}
<section class="collectionHero section">
  <img class="collectionHero_image" src="{{ 'hero-image.jpg' | asset_url }}" alt="Hero image">
  <h1 class="collectionHero_title">{{collection.title}}</h1>
</section>